
    .usuario{
      margin: 50px 20px;
      background-color: aliceblue;
      padding: 10px;
      font-family: sans-serif;
    }

    .nombre{
        font-weight: bold;
        font-size: 20px;
    }

    .texto{
      text-align: center;
    }

  .icono-eliminar{
    color: red;
  }

  .icono-editar{
    color:#39a1e5;
  }